.navbar-brand {
  position: relative;
}

.navbar-brand span {
  position: absolute;
  bottom: -7px;
  right: 3px;
  font-size: 0.71rem;
  font-weight: 800;
  opacity: 0.8;
  letter-spacing: 1px;
  text-transform: uppercase;
}
